@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Tuffy:ital,wght@0,400;0,700;1,400;1,700&display=swap');



.custom-font {
  font-family: 'Bellota Text', sans-serif;
}

/* Marker styles */
.custom-div-icon {
  background: transparent !important;
  border: none !important;
}

/* Popup styles */
.leaflet-popup-content {
  margin: 12px !important;
  min-width: 180px;
}

.leaflet-popup-content-wrapper {
  border-radius: 8px !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15) !important;
}

/* Scrollbar for the sidebar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #8560F1;
  border-radius: 3px;
}


/* global.css or index.css */
.custom-scrollbar-hidden {
  scrollbar-width: none;
  /* Firefox */
}

.custom-scrollbar-hidden::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}